* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: silver;
}


.head {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.head-icon-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head h1 {
    color: rgb(1, 19, 1);
    text-decoration: underline;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.head h2 {
    color: rgb(1, 19, 1);
    text-decoration: underline;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.input-box {
    width: 20vw;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    transition: width .5s ease;
    border: 1px solid rgb(1, 19, 1);
    background-color: rgb(183, 196, 183);

}

.input-box:focus {
    width: 40vw;
    background-color: rgb(183, 196, 183);
    color: rgb(1, 19, 1);
}

.submit-btn {
    cursor: pointer;
    transition: .3s ease;
    height: 30px;
    width: 30px;
    border: none;

}

.submit-btn:hover {
    transform: scale(1.1);

}

.todo-list {
    padding: 0;
}

.todo-list li {
    width: 17rem;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    margin: 10px;
    align-items: center;
    border: 1px solid gray;
    font-size: 1rem;
}

.todo-buttons i {
    color: rgb(1, 19, 1);
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease;

}

.todo-buttons i:hover {
    transform: scale(1.1);
}