*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 body{
    background-color:silver;
}

.head{
     height: 10vh;
     width: 90vw;
     display: flex;
     justify-content: space-between;
    
}
.head h1{
    color: rgb(1, 19, 1);
    text-decoration:underline;
}

.sign-button a{
    height: 2vh;
    width: 5vw;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background: rgb(1, 19, 1);
    border-radius: 5px;
}
.head a:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(1, 19, 1) ;
    transform: scale(1.1);
    transition: .3s ease;
}
.banner{
    height: 20vh;
    width: 100vw;
    text-align: center;
    color: rgb(1, 19, 1);
}
.container{
    height: 70vh;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.text{
    height: 6vh;
    width: 20vw;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    transition: width .5s ease;
    border: 1px solid rgb(1, 19, 1);
    background-color: rgb(183, 196, 183);
  
}
.text:focus{
    width: 40vw;
    background-color: rgb(183, 196, 183);
    color:rgb(1, 19, 1);
}
.submit{
    height: 6vh; 
    color: white;
    background-color:rgb(1, 19, 1);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease;
}
.submit:hover{
     transform: scale(1.1);
}

.todo-list{
    height: 50vh;
    width: 90vw;

}

.todo-list li{
    height: 6vh;
    width: 50vw;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:rgb(1, 19, 1) ;
    margin: 10px 10px 10px 27%;
    align-items: center;
}

.todo-buttons button{
    color:rgb(1, 19, 1);
    background-color:white;
    height: 4vh;
    width: 6vw;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease;
}
.todo-buttons button:hover{
    background-color: rgb(183, 196, 183);
    transform: scale(1.1);
}